<h1>Listing Advertisements</h1>
<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th>Link</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
 
<% @advertisements.each do |advertisement| %>
  <tr>
    <td><%= advertisement.title %></td>
    <td><%= advertisement.text %></td>
    <td><%= advertisement.link %></td>
    <td><%= link_to 'Show', advertisement_path(advertisement) %></td>
    <td><%= link_to 'Edit', edit_advertisement_path(advertisement) %></td>
    <td><%= link_to 'Destroy', advertisement_path(advertisement),
                    method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
